.input_type_password {
  color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

@media screen and (min-width: 787px) {
  .input_type_password {
  margin-bottom: 30px;
  margin-left: 0;
}
}

@media screen and (min-width: 320px) and (max-width: 786px) {
  .input_type_password {
  margin-bottom: 30px;
  margin-left: 40px;
}
}