.profile__avatar-edit {
    cursor: pointer;
    opacity: 0;
    width: 120px;
    height: 120px;
    position: absolute;
}

.profile__avatar-edit:hover {
    opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
  .profile__avatar-edit {
     margin-left: 82px;
  }
}